/* ----------------------- */
/* ---- Global Rules------ */
/* ----------------------- */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: var(--main-color);
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

:root {
  --main-color: #1f1b24;
  --second-color: #bb86fc;
  --thirs-color: #03dac5;
  --trans: 0.3s;
  --main-padding: 60px;
}

html {
  scroll-behavior: smooth;
}

.special-heading {
  font-size: 40px;
  color: var(--second-color);
  text-align: center;
  position: relative;
  width: fit-content;
  margin:  auto;
  margin-bottom: 50px;
}
.special-heading span {
  color: green;
}
.special-heading::before {
  content: '';
  position: absolute;
  top: 100%;
  background-color: var(--thirs-color);
  height: 1px;
  width: 100%;
  left: 0;
}
.special-heading::after {
  content: '';
  position: absolute;
  top: calc(100% );
  border: 3px solid green;
  border-color: white green;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  animation: mov 2s infinite alternate linear;
  -webkit-animation: mov 2s infinite alternate linear;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
a {
  text-decoration: none;
  color: white;
}
/* @keyframes mov {
  0%  {
  left: 0;
  transform: rotate(0);
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
} 100% {
  left: 100%;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}
} */
/* --------------------------- */
/* ---- end Global Rules------ */
/* --------------------------- */

/* ---------------------- */
/* ----- Start Header --- */
/* ---------------------- */
.header {
  padding: 30px;
  border-bottom: 1px solid var(--thirs-color);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  position: fixed;
  width: 100%;
  z-index: 10000;
  background: var(--main-color);
}

.header .container {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}

.header .logo {
  font-size: 27px;
  color: var(--second-color);
  font-weight: bold;
  width: 103px;
  user-select: none;
}

.header nav {
  flex: 1;
}

.header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header nav ul a {
  text-decoration: none;
  font-size: 18px;
  color: var(--thirs-color);
  transition: var(--trans);
  -webkit-transition: var(--trans);
  -moz-transition: var(--trans);
  -ms-transition: var(--trans);
  -o-transition: var(--trans);

}

.header nav ul a:hover {
  color: var(--second-color);
  text-shadow: 0px 0px 10px var(--thirs-color);
}

.header .controls {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 15px;
}

.header .controls .search {
  position: relative;
}

.header .controls .search i {
  font-size: 25px;
  color: var(--second-color);
  cursor: pointer;
}

.header .container .search-feild {
  position: absolute;
  top: 67px;
  right: 0;
  padding: 10px;
  border: none;
  outline: none;
  background: var(--thirs-color);
  caret-color: var(--main-color);
  border-radius: 3px;
  transition: var(--trans);
  height: 0;
  padding: 0 10px;
}

.header .container .search-feild.active-search {
  height: auto;
  padding: 10px;
}

.header .controls .nav-phone i {
  font-size: 25px;
  color: var(--second-color);
  cursor: pointer;
}

.header .controls .nav-phone {
  display: none;
}

.header .btn-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: transparent;
  position: relative;
}

.header .btn-cart::after {
  content: attr(data-quantity);
  width: fit-content;
  height: fit-content;
  position: absolute;
  font-size: 15px;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  opacity: 0;
  visibility: hidden;
  transition: .2s linear;
  top: 115%;
}

.header .icon-cart {
  width: 24.38px;
  height: 30.52px;
  transition: .2s linear;
}

.header .icon-cart path {
  fill: rgb(240, 8, 8);
  transition: .2s linear;
}

.header .btn-cart:hover>.icon-cart {
  transform: scale(1.2);
}

.header .btn-cart:hover>.icon-cart path {
  fill: rgb(186, 34, 233);
}

.header .btn-cart:hover::after {
  visibility: visible;
  opacity: 1;
  top: 105%;
}

.header .quantity {
  display: none;
}



@media (max-width: 767px) {
  .header .controls .nav-phone {
    display: block;
  }

  .header nav ul {
    display: flex;
    flex-direction: column;
    background-color: var(--thirs-color);
    color: black;
    position: fixed;
    right: -250px;
    top: 100%;
    width: 250px;
    color: black;
    height: calc(100vh - 111px);
    justify-content: start;
    padding: 30px 0;
    gap: 0;
    transition: var(--trans);
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
  }

  .header nav ul.current-screen {
    right: 0;
  }

  .header nav ul a {
    color: var(--main-color);
    display: block;
    padding: 15px;
    display: block;
    width: 100%;
  }

  .header nav ul li:not(:last-child) {
    border-bottom: 1px solid var(--main-color);
  }

  .header nav ul li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: var(--trans);
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
  }

  .header nav ul li:hover {
    background-color: var(--main-color);
  }
}

/* ---------------------- */
/* ----- End Header --- */
/* ---------------------- */


/* ---------------------- */
/* ----- start landing --- */
/* ---------------------- */
.landing {
  /* background-image: url('../imgs/land-2.jpeg');
  width: cover;*/
  height: 100vh;
  position: relative;
  display: flex;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
}

.landing img {
  width: 320px;
  position: relative;
  z-index: -1;
  top: 30px;
}

.landing .text {
  color: var(--thirs-color);
  font-size: 32px;
  width: 500px;
  font-weight: bold;
  line-height: 2;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.landing .text>span {
  color: green;
  display: inline-block;
  width: 204px;
  overflow: hidden;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.landing .text>span>span {}

.landing .text:hover>span>span {}

@media (max-width: 767px) {
  .landing {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .landing .text {
    text-align: center;
    width: auto;
    margin: 20px;
  }
}

/* ---------------------- */
/* ----- end landing --- */
/* ---------------------- */


/* ---------------------- */
/* ----- start about --- */
/* ---------------------- */
.about {
  padding-top: calc(var(--main-padding) * 2);
  padding-bottom: var(--main-padding);
}
.about .container {
  display: flex;
  gap: 20px;
  justify-content: space-around;
}
.about .container .left {
  width: 25%;
}
.about .right {
  /* flex: 1; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--thirs-color);
  width: 60%;
}
.about .right h2 {

  font-size: 40px;
}
.about .right h2 span {
  color: green;
}
.about .right p {
  line-height: 2;
  color: #777;
}
.about .container .left img {
  width: 100%;
}
@media (max-width: 767px) {
  .about .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about .right {
    text-align: center;
  }
}
/* ---------------------- */
/* ----- end about --- */
/* ---------------------- */

/* ---------------------- */
/* ----- start products --- */
/* ---------------------- */
.products {
  padding-top: calc(var(--main-padding) * 2);
  padding-bottom: var(--main-padding);
}
.products .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(224px, 1fr));
  justify-content: center;
  gap: 20px;
  column-gap: 3px;
  .card {
    --bg-card: #27272a;
    --primary: #6d28d9;
    --primary-800: #4c1d95;
    --primary-shadow: #2e1065;
    --light: #d9d9d9;
    --zinc-800: #18181b;
    --bg-linear: linear-gradient(0deg, var(--primary) 50%, var(--light) 125%);
  
    position: relative;
  
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  
    padding: 1rem;
    /* width: 14rem; */
    background-color: var(--bg-card);
    /* margin: auto; */
    border-radius: 1rem;
  }
  
  .image_container {
    overflow: hidden;
    cursor: pointer;
  
    position: relative;
    z-index: 5;
  
    width: 100%;
    height: 8rem;
    background-color: var(--primary-800);
  
    border-radius: 0.5rem;
  }
  
  .image_container .image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    width: 100%;
    fill: var(--light);
  }
  
  .title {
    overflow: clip;
  
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 600;
    color: var(--light);
    text-transform: capitalize;
    text-wrap: nowrap;
    text-overflow: ellipsis;
  }
  .title > i {
    cursor: pointer;
  }
  .size {
    font-size: 0.75rem;
    color: var(--light);
  }
  
  .list-tags {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  
    margin-top: 0.25rem;
  }
  
  .list-tags .item-list {
    list-style: none;
  }
  
  .list-tags .item-list-button {
    cursor: pointer;
    padding: 0.5rem;
    background-color: var(--zinc-800);
    font-size: 0.75rem;
    color: var(--light);
    border: 2px solid var(--zinc-800);
    border-radius: 0.25rem;
    transition: all 0.3s ease-in-out;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
}
  
  .item-list-button:hover {
    border: 2px solid var(--light);
  }
  .item-list-button:focus {
    background-color: var(--primary);
  
    border: 2px solid var(--primary-shadow);
  
    box-shadow: inset 0px 1px 4px var(--primary-shadow);
  }
  
  .action {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .auther {
    font-size: 0.8rem;
    font-weight: 700;
    color: #777;
  }
  
  .cart-button {
    cursor: pointer;
  
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
  
    padding: 0.5rem;
    width: 100%;
    background-image: var(--bg-linear);
  
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--light);
    text-wrap: nowrap;
  
    border: 2px solid hsla(262, 83%, 58%, 0.5);
    border-radius: 0.5rem;
    box-shadow: inset 0 0 0.25rem 1px var(--light);
  }
  
  .cart-button .cart-icon {
    width: 1rem;
  }
  
}

/* ---------------------- */
/* ----- end products --- */
/* ---------------------- */